numpy
scipy
scikit-learn
scikit-image
tensorboard
keras
opencv-python
simpleitk
matplotlib
jupyter-client
jupyter-core
notebook
pillow
lxml
newspaper3k
textstat
nltk
tweepy
pycorenlp
sklearn
contractions
pattern3
twitter
spacy
pymongo
pandas
